# Created by Vercel CLI
VERCEL="1"
VERCEL_ENV="development"
VERCEL_URL=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
BIGCOMMERCE_STORE_API_CLIENT_ID="7czaa4nudep5gc6re0elrsxjcd1elr1"
BIGCOMMERCE_STORE_API_TOKEN="32xka6l65y842c1axeqp05bxcty2oxw"
BIGCOMMERCE_STORE_API_URL="https://api.bigcommerce.com/stores/liosfpo7qv"
BIGCOMMERCE_STOREFRONT_API_TOKEN="eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJjaWQiOjc5NTczNCwiY29ycyI6W10sImVhdCI6MjE0NzI5OTIwMCwiaWF0IjoxNjMxODY4ODAxLCJpc3MiOiJCQyIsInNpZCI6MTAwMjAxOTM1Miwic3ViIjoiN2N6YWE0bnVkZXA1Z2M2cmUwZWxyc3hqY2QxZWxyMSIsInN1Yl90eXBlIjoyLCJ0b2tlbl90eXBlIjoxfQ.B8S--hfVZ_Px7TcBvYetnNgRyqe79NlDCLOL2PuCRIpgHx2y0fMg3aRo5TYIxde5M0d_ebRZIxIm2bxAG7gS8Q"
BIGCOMMERCE_STOREFRONT_API_URL="https://store-liosfpo7qv-795734.mybigcommerce.com/graphql"
BIGCOMMERCE_CHANNEL_ID="795734"
